<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ex1 day15</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/result" method='post'>
        <p> Enter name:</p> 
        <p> <input type="text" name="Name" > </p>
        <br>
        <p>Enter Age</p> 
        <p> <input type="text" name="Age" > </p>
        <br>
        <p>Enter Addrees</p> 
        <p> <input type="text" name="Addrees" > </p>
        <br>
        <p>Enter Nationality</p> 
        <p> <input type="text" name="Nationality" > </p>
        <br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>